@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: transparent;
}

body {
  background: linear-gradient(rgb(164, 133, 86), blanchedalmond);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

/* Header */
header {
  background-color: rgb(140, 98, 35);
  position: fixed;
  width: 100%;
  height: 105px;
  margin-right: 20%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
header .Container-fluid {
  padding-right: 20%;
}
header img {
  width: 90px;
  height: 90px;
}

/* Main  Index */
main {
  margin-top: 0;
}
main div h1 {
  display: grid;
  place-items: center;
  color: #237923;
  font-family: cursive;
  font-size: 40px;
  padding-top: 150px;
  margin-bottom: 30px;
}
main div p {
  width: 100%;
  margin: auto;
}
main .descripcion, main .servicios {
  display: grid;
  place-items: center;
  color: rgb(39, 149, 39);
  font-family: "Kalam", cursive;
  font-size: 25px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 20px;
}
main .slide {
  display: grid;
  place-items: center;
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 30px;
  z-index: -1;
}
main .slide img {
  height: 70vh;
}
main .lugar {
  display: grid;
  place-items: center;
  color: rgb(39, 149, 39);
  font-family: "Kalam", cursive;
  font-size: 25px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 20px;
}
main iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 60%;
  padding-bottom: 50px;
}

/* Nosotros.html */
main {
  margin-top: 0;
  border: transparent;
  z-index: -1;
}
main .contactanos {
  display: grid;
  place-items: center;
  color: #237923;
  font-family: cursive;
  font-size: 30px;
  padding-top: 50px;
  padding-left: 30px;
  margin-bottom: 30px;
}
main .container4 {
  margin-right: 0;
  border: transparent;
}
main .container4 .row {
  border: transparent;
}
main .container4 #nosotros .col-lg-4 {
  margin: 0 !important;
  padding: 25px;
}
main .container4 #nosotros {
  margin: 0 !important;
  padding: 25px;
}
main .container4 .parrafo-moda, main .container4 .parrafo-hogar, main .container4 .parrafo-cuadros {
  display: grid;
  justify-content: center;
  align-items: center;
  color: rgb(39, 149, 39);
  font-family: "Kalam", cursive;
  font-size: 25px;
  padding: 10%;
}
main .container4 .moda, main .container4 .hogar, main .container4 .cuadros {
  width: 300px;
  height: 250px;
}
main .container4 .cuadros {
  margin-left: 20px;
}
/* Personal.html */
main {
  z-index: -1;
}
main .servicios {
  padding-top: 150px;
}
main .carousel-estilos {
  margin-top: 10px;
  margin-bottom: 50px;
  z-index: -1;
}
main .carousel-tipos-cuerpo {
  margin-top: 50px;
  margin-bottom: 50px;
  z-index: -1;
}

/* Hogar.html */
main {
  margin-top: 0;
  border: transparent;
  z-index: -1;
}
main .productos {
  display: grid;
  place-items: center;
  color: #237923;
  font-family: cursive;
  font-size: 30px;
  padding-top: 150px;
  padding-left: 30px;
  margin-bottom: 30px;
}
main .container3 {
  border: transparent;
}
main .container3 .row {
  border: transparent;
}
main .container3 #hogar .col-lg-6 {
  margin-right: 0 !important;
  padding: 25px;
}
main .container3 #hogar {
  margin: 0 !important;
  padding: 25px;
}
main .container3 .venta-hogar {
  display: grid;
  justify-content: center;
  align-items: center;
  color: rgb(39, 149, 39);
  font-family: "Kalam", cursive;
  font-size: 25px;
  padding: 10%;
}
main #hogar img {
  width: 70%;
  height: 300px;
  margin-left: 100px;
  margin-bottom: 30px;
}

/* galeria.html */
main {
  margin-top: 0;
  border: transparent;
  z-index: -1;
}
main .presentacion {
  display: grid;
  place-items: center;
  color: #237923;
  font-family: cursive;
  font-size: 30px;
  padding-top: 150px;
  padding-left: 30px;
  margin-bottom: 30px;
}
main p {
  margin-left: auto;
  text-align: justify;
  color: rgb(39, 149, 39);
  font-family: "Kalam", cursive;
  font-size: 25px;
  padding-left: 40%;
}
main .container5 {
  border: transparent;
}
main .container5 .row {
  border: transparent;
}
main #galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px;
}
main #galeria {
  margin: 0 !important;
  padding: 25px;
}
main #galeria img {
  width: 100%;
  height: 400px;
}
main #galeria img:hover {
  border: 10px solid #f7f7f7;
}

/* footer */
#footer {
  background-color: rgb(39, 149, 39);
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 10px;
  border: transparent;
}
#footer .logo-footer {
  width: 90px;
  height: 90px;
  margin-left: 45%;
  margin-top: 5%;
  margin-bottom: 9px;
  display: grid;
  place-items: center;
}
#footer .estamos {
  display: grid;
  place-items: center;
  color: blanchedalmond;
  font-family: cursive;
  font-size: 25px;
  width: 100%;
  text-decoration: none;
}
#footer .row > div {
  padding: 10px;
}
#footer .row > div .suscribite {
  color: blanchedalmond;
  font-size: 20px;
}
#footer .row > div .suscribite .flecha-enviar {
  width: 30px;
  height: 30px;
}
#footer .row > div .redessociales {
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer .row > div .redessociales .twitter {
  width: 70px;
  height: 70px;
}
#footer .row > div .redessociales .instagram {
  width: 50px;
  height: 50px;
}
#footer .row > div .redessociales .whatsapp {
  width: 50px;
  height: 50px;
}
#footer .row > div h4 {
  color: blanchedalmond;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-decoration: none;
}
#footer .row > div h4 .contacto {
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer .copyright {
  font-size: 15px;
  padding-bottom: 30px;
}

/* Media Queries main-index */
@media (max-width: 768px) {
  main {
    margin-top: 120;
  }
  main div h1 {
    padding-top: 130px;
    font-size: 25px;
  }
  main .descripcion, main .servicios {
    width: 100%;
    padding-right: 10%;
    text-align: justify;
    margin-left: auto;
    font-size: 20px;
    margin-bottom: 30px;
    border: transparent;
  }
  main .slide {
    display: grid;
    place-items: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    margin-bottom: 0;
    height: 300px;
    border: transparent;
  }
  main .slide img {
    height: 30vh;
  }
  main .lugar {
    width: 100%;
    padding-right: 20%;
    text-align: justify;
    margin-left: auto;
    font-size: 20px;
    margin-bottom: 30px;
    border: transparent;
  }
  main .iframe {
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: auto;
    width: 60%;
    height: 70px;
  }
}
/* Media-queries Nosotros */
@media (max-width: 768px) {
  main {
    margin-top: 10px;
  }
  main .contactanos {
    padding-top: 30px;
  }
  main .cuadros {
    margin-top: 20px;
    margin-left: 0%;
    margin-right: 20%;
  }
}
/* Media-queries Personal */
@media (max-width: 768px) {
  main {
    z-index: -1;
  }
  main .servicios {
    padding-top: 120px;
  }
  main .carousel-estilos {
    margin-bottom: 20px;
  }
  main .carousel-tipos-cuerpo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
/* Media queries Hogar */
@media (max-width: 768px) {
  main {
    margin-top: 0;
  }
  main .productos {
    padding-top: 120px;
  }
  main #hogar img {
    margin-left: 50px;
  }
  /* Media queries Galeria */
  /* Media queries footer */
}
@media (max-width: 768px) and (max-width: 768px) {
  main {
    margin-top: 0;
  }
  main .presentacion {
    padding-top: 120px;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  #footer {
    padding-top: 30px;
    height: 540px;
  }
  #footer .logo-footer {
    margin-top: 10px;
  }
  #footer .redessociales .twitter {
    width: 100px;
    height: 10px;
  }
  #footer .redessociales .instagram {
    width: 10px;
    height: 10px;
  }
  #footer .redessociales .whatsapp {
    width: 10px;
    height: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
