/* Header */
header{
    background-color:rgb(140, 98, 35);  
   
    position: fixed;
    width: 100%;
   
    height: 105px;
    margin-right: 20%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    

   .Container-fluid{
    padding-right: 20%;
   }


img {
    width: 90px;
    height: 90px;
  }}